.container-infoD {
  background-image: url("https://res.cloudinary.com/dapicfoap/image/upload/v1664773993/BlockBuster%20Nuestro/fondoBlue_a3nqyo.jpg");
  background-size: cover;
  border-style: solid;
  border-color: #000000;
  border-bottom-width: 7px;
  border-bottom-color: #e79908;
  display: flexbox;
  flex-direction: row;
}
.container-description {
  background-color: #0000005f;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  text-align: justify;
  padding-top: 120px;
  margin: 30px;
  color: white;
  width:100%;
  flex-wrap: wrap;
  box-shadow:24px 27px 37px 23px #000000;
}

.title-movie {
  color: #f7a500;
  font-size: 40px;
  text-align: justify;
  font-weight: 600;
  letter-spacing: 2.4px;
  word-spacing: 2px;
  column-count: 1;
  direction: ltr;
  font-family: "Brawler", serif;
}
.description-plot {
  width: 750px;
  font-size: 25px;
  font-family: "Brawler", serif;
  display: flexbox;
  gap: 20px;
}
.director {
  font-family: "Brawler", serif;
  font-size: 20px;
}
.container-links {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-bottom: 1rem;
}
.container-imagenc{
  width: 30%;
}
.container-detalless{
  width: 50%;
}
.imagen-poster{
  border: double #f7a500 4px;
}
@media only screen and (max-width: 600px) {
  /* .infodetail {
    color: #f7a600;
    display: flexbox;
    flex-direction: row;
  }
  .cardStyle{
    width: 30vh;
    margin: auto;
  } */
  .container-infoD {
    width: 400px;
    display: flexbox;
    flex-direction: column-reverse;
  }
  .description-plot {
    width: 300px;
    font-size: 20px;
  }
  .director {
    width: 300px;
  }
  .title-movie {
    width: 350px;
    font-size: 35px;
  }
  .container-description{
    flex-direction: column-reverse;
    padding: 50px 0;
  }
}

/* .detailRender{
  background-image: url('https://res.cloudinary.com/dapicfoap/image/upload/v1664773993/BlockBuster%20Nuestro/fondoBlue_a3nqyo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 6rem;
  height: 100%;
}
.App .detailRender .cardStyle {
  background-color: rgba(0, 0, 0, 0.83) !important;
  
}


.card-img-top {
  width: 100%;
  height:30rem;
  display: flex;
  border-radius: 4.25rem 4.25rem 0 0;
  object-fit: unset;
border-bottom:2px groove #f7a600;
 
}

.cardStyle {
  background-color: rgba(0, 0, 0, 0.662);
  border: groove #f7a600 .5rem;
  margin-left: 30%;
  margin-right:30%;
  border-radius: 10%;
  width: 80vh;
  overflow: hidden;

}
.infodetail {
  color: #f7a600;
  display: flexbox;
  flex-direction: row;
  margin-left: 2rem;
  margin-bottom: 1.25rem;
  
}
.plot .titleInfo label{
 background-color:#f7a50088;
 border-style:solid;
 color: black;
 border-radius: 3%;
 font-weight:500;
 
}
.title {
  font-size: 2rem;
  color: rgb(255, 248, 248);
  font-weight:600;
  
  text-align: justify;
}

.language {
  font-size: 0.875rem;
  display: flex;
  gap: 0.4375rem;
}

.plot {
  font-size: 1.375rem;
  margin-right: 5%;
  gap: 7px;
  text-align: left;
 
}
.lessInfo {
  margin-top: 1.875rem;
} */

.alert {
  font-size: 1.875rem;
  color: #f7a600;
  background-color: rgba(0, 0, 0, 0.83);
  border: #f7a600 solid;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 2%;
  border-radius: 0.625rem;
}
.alert2 {
  background-color: rgba(0, 0, 0, 0.83);
  border: #f7a600 solid;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 2%;
  border-radius: 0.625rem;
  font-size: 1.25rem;
  color: #f7a600;
}

/*---------------------------------------switch */
.switch {
  position: relative;
  width: 3.4375rem;
  height: 0.9375rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 2.125rem;
  background-color: limegreen;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.625rem;
  width: 1.625rem;
  left: 0px;
  bottom: -0.3125rem;
  background-color: #06a606;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-sizing: border-box;
  border: 10px solid white;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: red;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(30px);
  background: red;
  box-sizing: border-box;
  border: 0.625rem solid white;
}

.slider1 {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 2.125rem;
  background-color: red;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider1:before {
  position: absolute;
  content: "";
  height: 1.625rem;
  width: 1.625rem;
  right: 0px;
  bottom: -0.3125rem;
  background-color: red;
  -webkit-transition: 0.4s;
  transition: 0.4s;

  box-sizing: border-box;
  border: 0.625rem solid white;
  border-radius: 50%;
}

input:checked + .slider1 {
  background-color: limegreen;
}

input:checked + .slider1:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(-30px);
  background: limegreen;
  box-sizing: border-box;
  border: 0.625rem solid white;
}

/* ----------------------------- */

.plot .titleInfo label {
  background-color: #f7a600;
}
.btn-detail {
  height: 5.625rem;
  margin-bottom: 2.5rem;
}

.buttonFav {
  padding: 0.625rem;
  border: none;
  background-color: transparent;
  border-radius: 20%;
  margin-bottom: 4%;
  margin-top: 3%;
}

.buttonNoFav {
  padding: 0.625rem;
  border: none;
  background-color: transparent;
  border-radius: 0%;
  margin-bottom: 4%;
  margin-top: 3%;
}
/*---------------------------------------------------------------------------------------------------*/
/* From uiverse.io by @AqFox */
.btnplay {
  width: 50px;
  height: 50px;
  bottom: 40px;
  right: 40px;
  background-color: #0b0b0b;
  color: #f7a500;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #f7a600;
  z-index: 100;
  border: #004dff;
  transition: 0.5s;
}

.btnplay:hover {
  transform: scale(1.1);
  color: #f7a500;
}

.btnplay:active {
  background-color: #020cd1;
}

.title-btn {
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem;
  align-items: center;
}
.image {
  background-color: #f7a500;
  box-shadow: 0 1rem 2rem #f7a600, 0 1rem 2rem #f7a600;
  border-radius: 0 0 1rem 1rem;
}

.twobtn {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 2rem;
}
