  /* CARRUZEL */
  .containerCarruzel {
    display: flex;
    width: 100%;
    height: 300px; 
    scroll-snap-align: start;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    background: rgba(0, 0, 0, 0.445);
  }
  .containerCarruzel .mainCarruzel .sliderCarruzel {
    width: 200px;
  }
  .containerCarruzel::-webkit-scrollbar{
    display: none;
  }

  .mainCarruzel .sliderCarruzel .imgCarr {
    width: 12rem;
    height: 18rem;
    display: inline-block;
    object-fit: cover;
    scroll-snap-align: center;
    animation: cambio 10s infinite;
  }
  @keyframes cambio {
    0%{margin-left: 0;}
    20%{margin-left: 0;}
  
    25%{margin-left: -400%;}
    45%{margin-left: -400%;}
  
    50%{margin-left: -800%;}
    70%{margin-left: -800%;}
  
    75%{margin-left: -1200%;}
    100%{margin-left: -1200%;}
  }
  .mainCarruzel .sliderCarruzel:hover {
    animation:  infinite;
  }