/* CARRUZEL */
.containerCarruzel {
  display: flex;
  width: 100%;
  height: 300px;
  scroll-snap-align: start;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.containerCarruzel .mainCarruzel .sliderCarruzel {
  max-width: 200px;
}

.containerCarruzel::-webkit-scrollbar {
  display: none;
}

.containerCarruzel1 {
  display: flex;
  width: 100%;
  height: 300px;
  scroll-snap-align: start;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.containerCarruzel:hover .imgCarr {
  animation-play-state: paused;
}

.containerCarruzel:hover .imgCarr {
  animation-play-state: paused;
}

.containerCarruzel:hover .imgCarrF {
  animation-play-state: paused;
}

.imgCarr {
  width: 12rem;
  height: 18rem;
  display: inline-block;
  object-fit: cover;
  scroll-snap-align: center;
  animation: cambio 9.09s infinite;
  border-radius: 7%;
  margin: 5px;
}

.imgCarr1 {
  width: 12rem;
  height: 18rem;
  display: inline-block;
  object-fit: cover;
  scroll-snap-align: center;
  animation: cambio1 9.09s infinite;
  border-radius: 7%;
  margin: 5px;
}

.imgCarrF {
  width: 12rem;
  height: 18rem;
  display: inline-block;
  object-fit: cover;
  scroll-snap-align: center;
  animation: cambioF 9.09s infinite;
  border-radius: 7%;
  margin: 5px;
}
.imgCarrF:hover {
  border: groove 2px goldenrod;
}

.imgCarr1:hover {
  border: groove 2px goldenrod;
}
.imgCarr:hover {
  border: groove 2px goldenrod;
}

@keyframes cambio {
  100% {
    margin-left: 0%;
  }
  90% {
    margin-left: -100%;
  }
  80% {
    margin-left: -200%;
  }
  70% {
    margin-left: -300%;
  }
  60% {
    margin-left: -400%;
  }
  50% {
    margin-left: -500%;
  }
  40% {
    margin-left: -600%;
  }
  30% {
    margin-left: -700%;
  }
  20% {
    margin-left: -800%;
  }
  10% {
    margin-left: -900%;
  }
  0% {
    margin-left: -1000%;
  }
}

@keyframes cambio1 {
  0% {
    margin-left: -0%;
  }
  10% {
    margin-left: -100%;
  }
  20% {
    margin-left: -200%;
  }
  30% {
    margin-left: -300%;
  }
  40% {
    margin-left: -400%;
  }
  50% {
    margin-left: -500%;
  }
  60% {
    margin-left: -600%;
  }
  70% {
    margin-left: -700%;
  }
  80% {
    margin-left: -800%;
  }
  90% {
    margin-left: -900%;
  }
  100% {
    margin-left: -1000%;
  }
}
