

/* ----------------------------------- */
.containerPayg {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card_boxg {
    width: 20rem;
    height: 30rem;
    border-radius: 20px;
    background: linear-gradient(170deg, rgba(58, 56, 56, 0.623) 0%, rgb(31, 31, 31) 100%);
    position: relative;
    box-shadow: 0 25px 50px rgba(0,0,0,0.55);
    cursor: pointer;
    transition: all .3s;
    outline: #F09819 groove .5rem;
  }
  
  .card_boxg:hover {
    transform: scale(0.9);
  }
  
  .card_boxg span {
    position: absolute;
    overflow: hidden;
    width: 150px;
    height: 150px;
    top: -10px;
    left: -10px;
    display: flex;
    align-items: center;
    justify-content: center;

  }
  
  .card_boxg span::before {
    content: 'Gold';
    position: absolute;
    width: 150%;
    height: 40px;
    background-image: linear-gradient(45deg, #ff6547 0%, #ffb144  51%, #ff7053  100%);
    transform: rotate(-45deg) translateY(-20px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    box-shadow: 0 5px 10px rgba(0,0,0,0.23);
 
  }
  
  .card_boxg span::after {
    content: '';
    position: absolute;
    width: 10px;
    bottom: 0;
    left: 0;
    height: 10px;
    z-index: -1;
    box-shadow: 140px -140px #cc3f47;
    background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
   
  }

  .contentPayg {
    position: relative;
    top: 5rem;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

  .p-style-silverg{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    color: #F09819;
}


/*--------------------------------------------------------------------------------*/

.button {
    position: relative;
    overflow: hidden;
    outline: none;
    cursor: pointer;
    border-radius: 50px;
    background-color: rgb(153, 58, 51);
    border: solid 4px #F09819;
    font-family: inherit;
   }
   
   .default-btng,.hover-btng {
    background-color: rgb(17, 5, 112);
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px 20px;
    border-radius: 50px;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    transition: all .3s ease;
   }
   
   .hover-btng {
    position: absolute;
    inset: 0;
    background-color: rgb(2, 146, 43);
    transform: translate(0%,100%);
   }
   
   .default-btng span {
    color: hsl(0, 0%, 100%);
    content: 'UPGRADE';
   }
   
   .hover-btng span {
    color: #F09819;
   }
   
   .button:hover .default-btn {
    transform: translate(0%,-100%);
   }
   
   .box:before {
    content: "U";
    position: absolute;
    top: 0;
    background: silver;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(100%);
    transition: transform .4s;
    color: black;
  }
   .button:hover .hover-btn {
    transform: translate(0%,0%);
   }
   .titleGold{
    color: #F09819;
    margin-top: 1rem;
   }