

/* ----------------------------------- */
.sectionPay {
    background-image: url("https://res.cloudinary.com/dapicfoap/image/upload/v1664773993/BlockBuster%20Nuestro/fondoBlue_a3nqyo.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    gap: 5rem;
    background-repeat: no-repeat;
    background-size: cover;
}

.containerPay {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card_boxg {
    width: 20rem;
    height: 30rem;
    border-radius: 20px;
    background: linear-gradient(170deg, rgba(58, 56, 56, 0.623) 0%, rgb(31, 31, 31) 100%);
    position: relative;
    box-shadow: 0 25px 50px rgba(0,0,0,0.55);
    cursor: pointer;
    transition: all .3s;
    outline: #F09819 groove .5rem;
  }
  
  .card_box1:hover {
    transform: scale(0.9);
  }
  
  .card_box1 span {
    position: absolute;
    overflow: hidden;
    width: 150px;
    height: 150px;
    top: -10px;
    left: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card_box1 span::before {
    content: 'Silver';
    position: absolute;
    width: 150%;
    height: 40px;
    background-image: linear-gradient(45deg, #404141 0%, #636362  51%, #979797  100%);
    transform: rotate(-45deg) translateY(-20px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    box-shadow: 0 5px 10px rgba(0,0,0,0.23);
  }
  
  .card_box1 span::after {
    content: '';
    position: absolute;
    width: 10px;
    bottom: 0;
    left: 0;
    height: 10px;
    z-index: -1;
    box-shadow: 140px -140px #cc3f47;
    background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
  }

  .contentPay {
    position: relative;
    top: 5rem;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

  .p-style-silver{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;  
}


/*--------------------------------------------------------------------------------*/
/* From uiverse.io by @mrhyddenn */
.button {
  display: flex;

}

.box {
  width: 35px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  transition: all .8s;
  cursor: pointer;
  position: relative;
  background: #222224;
  overflow: hidden;
  
}

.box:before {
  content: "U";
  position: absolute;
  top: 0;
  background: #F09819;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(100%);
  transition: transform .4s;
  color: black;
}

.box:nth-child(2)::before {
  transform: translateY(-100%);
  content: 'P';
  color: black;
}

.box:nth-child(3)::before {
  content: 'G';
  color: black;
}

.box:nth-child(4)::before {
  transform: translateY(-100%);
  content: 'R';
  color: black;
}

.box:nth-child(5)::before {
  content: 'A';
  color: black;
}

.box:nth-child(6)::before {
transform: translateY(-100%);
  content: 'D';
  color: black;
}
.box:nth-child(7)::before {
  content: 'E';
  color: black;
}
.button:hover .box:before {
  transform: translateY(0);
}
