.homeContainer{
  background: url('https://wallpapercave.com/wp/wp3172270.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
}

.cardContainer {
    display: grid;
    /* grid-template-columns: 400px 400px 400px; */
    /* grid-template-rows: 600px; */
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    grid-auto-rows: 40rem;
    /* justify-content: center;
    align-items: center; */
    margin: 4rem;
    gap: 2rem;
    text-decoration: none;
} 

.textCard {
  font-family: cursive;
  padding: 13px;
  font-size: 17px;
  margin-top: 10px;
  text-decoration: none;
}

.card-title{
  font-size: 22px;
  box-shadow: 0 1px 5px rgba(4, 146, 240, 0.459);
  font-family: cursive;
  text-decoration: none;
}

card-text{
  font-size: 15px;
  text-decoration: none;
}


