.cardContainer {
    display: grid;
    /* grid-template-columns: 400px 400px 400px; */
    /* grid-template-rows: 600px; */
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    grid-auto-rows: 40rem;
    /* justify-content: center;
    align-items: center; */
    margin: 3rem;
    gap: 2rem;
}

.homeContainer{
    background: url('https://wallpapercave.com/wp/wp3172270.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
  }