.form-control {
    height: 2rem;
    margin-top: 1rem;
}

.imgPerfil{
    border-radius:50%;
    outline: 3px solid #ff930f ;
    margin: 1rem;
}
.navbar-toggler {
    width: 10px;
    height: 10px;
}
.buttonNavbar{
    width: 1rem;
    height: 1rem;
    
}
.btnLogin{
    width: 6rem;
    height: 2.3rem;
}
.navbarFix{
    height: 4rem;
}


.Unregistered-style{
    border-radius:50%;
    outline: 3px solid #ff0000 ;
    margin: 1rem;
}

.Unregistered-style:hover{
    border-radius:50%;
    outline: 6px solid #ff0000 ;
    margin: 1rem;
}



.UserCategory-style{
    border-radius:50%;
    outline: 3px solid #ffffff ;
    margin: 1rem;
}

.UserCategory-style:hover{
    border-radius:50%;
    outline: 6px solid #ffffff ;
    margin: 1rem;
}


.SilverCatery-style{
    border-radius:50%;
    outline: 3px solid #C0C0C0 ;
    margin: 1rem;
}

.SilverCatery-style:hover{
    border-radius:50%;
    outline: 6px solid #C0C0C0 ;
    margin: 1rem;
}


.GoldCategory-style{
    border-radius:50%;
    outline: 3px solid #ff930f ;
    margin: 1rem;
}

.GoldCategory-style:hover{
    border-radius:50%;
    outline: 3px solid #ff930f ;
    margin: 1rem;
}



.logoNav{
    margin-right: 25rem;
    margin-bottom: -.5rem;
}
.navbar-expand-lg{
    border-bottom: #F7A600 groove .5rem;
    width: 100%;
    background-image: url('../../assets/fondoBlue.jpg');
    background-position: 50% -10%;
}


.logoNavDetail{
   margin-left: 50rem;
   margin-right: 23rem;
    margin-bottom: -.5rem;
}
.searchDetail{
    margin-left: 10rem;
}

.logoLanding{
    margin-left: 40%;
}