.admin-contain {
    background-image: url('');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
}
.formulario{
    display: flex;
    flex-direction: column;
    margin: 2rem;
    margin-right: 31rem;
    margin-left: 31rem;
    padding: 1rem;
    margin: 3rem;
    margin-right: 23rem;
    margin-left: 23rem;
    padding: 4rem;
    padding-bottom: 2rem;
    border: 1rem solid rgba(202, 173, 43, 0.877);
    border-radius: 15px;
    box-shadow: 6px 7px 8px -6px rgba(69, 69, 69, 0.7);
    background-color: rgba(255, 255, 255, 0.663);
}
.body{
    font-size: none;
}
.admin-description{
font-size: none;
}

.admin-titulo{
    position: relative;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(202, 173, 43, 0.877);
    top:2rem;

}

.submit-button {
    display:grid ;
    background-color: rgba(226, 30, 30, 0.959);
    color: white;
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.663);
    padding: 1rem;
    position: relative;
    border-radius: 20rem;
    top: 2rem;
    left: 6rem;
    top: 1rem;
    left: 4rem;
}