/* From uiverse.io by @david-mohseni */
.cardPerf {
    width: 300px;
    height: 170px;
    background-color: #09043F;
    text-align: center;
    border: 10px groove #f7a600;
    border-radius: 20px;
    box-shadow: inset 5px 5px 10px #f7a600, inset -5px -5px 10px #f7a600;
    transition: 1s;
    margin: auto;
    padding-bottom: 1rem;
  }
  
  .cardPerf:hover {
    height: 50%;
  }
  
  .imgPerf {
    width: 110px;
    height: 110px;
    font-size: 30px;
    background-color: #f7a600;
    margin: 20px auto;
    padding: 5px;
    border-radius: 50%;
    box-shadow: 8px 8px 10px#f7a600(45, 0, 246), -8px -8px 10px rgb(255, 255, 255);
  }
  
  .contentPef {
    color: #999;
    background-color: #eee;
    padding: 10px;
    margin: 5px 20px;
    border-radius: 8px;
    box-shadow: 8px 8px 10px #f7a600, -8px -8px 10px #f7a600;
    transform: translateY(-80px) scale(0);
    transition: all 1s;
  }
  
  .cardPerf:hover .contentPef {
    transform: translateY(0) scale(1)
  }
  
  .contentPef h3 {
    text-shadow: 2px 2px 0px #fff;
  }
  .picPerfil{
    width: 100px;

  }