.card{
  display: block;
  height: 100%;
  width: 100%;
  background-color:#1f44891f;;
  
}

.posterCard{
  width: 17.75rem;
  height: 28.125rem;
  display: inline-block;
  object-fit: cover;
  scroll-snap-align: center;
  margin: 2px;
  transform:translatex(0px) translatey(0px);
}