.containerFiltering {
    display: flex;
    width: 20rem;
}

.selectButton{
    margin-top: 8px;
    height: 2rem;
}


@media screen and (max-width: 768px) {
    .containerFiltering {
        width: 10rem;
        flex-direction: column;
    }
  }