*, *:after, *:before {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
  }
  .blue {
    background: #212529;
    color: #fff;
  }
  .navbar {
    padding: 10px 10%;
  }
  #logo {
    display: inline-block;
    margin-top: 7px;
    color: #fff;
  }
  #link {
    color: #fff;
    font-weight: bold;
    margin: 0 10px;
  }
  i { margin: 0 7px; }
  #sidebarCollapse {
    color: #fff;
    background: transparent;
    outline: none;
    margin: 0 20px;
  }
  #sidebarCollapse:hover {
    color: #2abdfc;
    background: #fff;
    outline: none;
  }
  .wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
  }.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
  }#sidebar {
      min-width: 200px;
      max-width: 250px;
      margin-top: 70px;
      background: #09043F;
      color: #fff;
      transition: all 0.3s;
  }
  #sidebar.active{
      margin-left: -250px;
  }
  
  #sidebar .sidebar-header{
      padding: 20px;
      background: #6a76f8;
  }
  #sidebar ul.components{
      padding: 20px 0px;
  }
  
  #sidebar ul p{
      padding: 10px;
      font-size: 1.1em;
      display: block;
  }
  
  #sidebar ul li .linkAdmin{
      padding: 10px 10px 10px 20px;
      font-size: 1.1em;
      display: block;
      color: #fff;
      font-weight: bold;
  }
  #sidebar ul li .linkAdmin:hover {
      color: #6240bd;
      background: #fff;
      text-decoration: none;
  }
  
  #sidebar ul li.active>.linkAdmin,
  .linkAdmin[aria-expanded="true"] {
      color: #fff;
      background: #8a5fff;
  }
  .linkAdmin[data-toggle="collapse"] {
      position: relative;
  }
  .dropdown-toggle::after {
      display: block;
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
  }
  
  #content {
      width: 100%;
      padding: 40px;
      min-height: 100vh;
      transition: all 0.3s;
      margin-top: 70px;
  }
  @media (max-width:800px) {
    #sidebar {
      margin-left: -250px;}
    #sidebar.active{
      margin-left: 0px;
    }
    #sidebarCollapse span{
      display: none;
    }
    .card {
      width:100%;
    }
  }
  @media (max-width:400px) {
    #sidebar {
      margin-top: -20px;
    }
    #logo {
      display: none;
    }
  }