.admin-containPanel {
    background-image: url('../../assets/admin-home.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
}

.formularioAdmin{
    display: flex;
    flex-direction: column;
    border: 1rem solid rgba(202, 173, 43, 0.877);
    border-radius: 15px;
    box-shadow: 6px 7px 8px -6px rgba(69, 69, 69, 0.7);
    background-color: rgba(255, 255, 255, 0.663);
    margin-left: 30rem;
    margin-right: 30rem;
}

.submit-buttonAdmin {
    background-color: rgba(226, 30, 30, 0.959);
    color: white;
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.663);
    border-radius: 20rem;
}