/* *, *:after, *:before {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
  }
  .blue {
    background: #212529;
    color: #fff;
  }
  .navbar {
    padding: 10px 10%;
  }
  #logo {
    display: inline-block;
    margin-top: 7px;
    color: #fff;
  }
  #link {
    color: #fff;
    font-weight: bold;
    margin: 0 10px;
  }
  i { margin: 0 7px; }
  #sidebarCollapse {
    color: #fff;
    background: transparent;
    outline: none;
    margin: 0 20px;
  }
  #sidebarCollapse:hover {
    color: #2abdfc;
    background: #fff;
    outline: none;
  }
  .wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
  }.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
  }#sidebar {
      min-width: 200px;
      max-width: 250px;
      margin-top: 70px;
      background: #09043F;
      color: #fff;
      transition: all 0.3s;
  }
  #sidebar.active{
      margin-left: -250px;
  }
  
  #sidebar .sidebar-header{
      padding: 20px;
      background: #6a76f8;
  }
  #sidebar ul.components{
      padding: 20px 0px;
  }
  
  #sidebar ul p{
      padding: 10px;
      font-size: 1.1em;
      display: block;
  }
  
  #sidebar ul li .linkAdmin{
      padding: 10px 10px 10px 20px;
      font-size: 1.1em;
      display: block;
      color: #fff;
      font-weight: bold;
  }
  #sidebar ul li .linkAdmin:hover {
      color: #6240bd;
      background: #fff;
      text-decoration: none;
  }
  
  #sidebar ul li.active>.linkAdmin,
  .linkAdmin[aria-expanded="true"] {
      color: #fff;
      background: #8a5fff;
  }
  .linkAdmin[data-toggle="collapse"] {
      position: relative;
  }
  .dropdown-toggle::after {
      display: block;
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
  }
  
  #content {
      width: 100%;
      padding: 40px;
      min-height: 100vh;
      transition: all 0.3s;
      margin-top: 70px;
  }



 */






.containerAdmin{
  background: url('https://res.cloudinary.com/dapicfoap/image/upload/v1664990106/BlockBuster%20Nuestro/ConfiguracionesAdmin_zktchr.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  margin-top: 5rem;
}
.navbar {
  background: rgb(52, 52, 255);
}
  
 .menuAdmin {
    width: 20rem;
    height: 100%;
    border-radius: 0.2rem;
    overflow: hidden;
    background: silver;
    border-right: 1rem gray groove;
  }
  .menuAdmin a {
    text-decoration: none;
  }
  
  .menu-item {
    list-style: none;
    border-top: 1px solid var(--dark-blue);
    overflow: hidden;
  }
  
  .linkAdmin {
    display: block;
    padding: 1rem 1.2rem;
    background: var(--blue);
    color: white;
    position: relative;
  }
  .linkAdmin::before {
    content: '';
    position: absolute;
    width: 1rem;
    height: 1rem;
    background: var(--blue);
    left: 1.5rem;
    bottom: -0.5rem;
    transform: rotate(45deg);
  }
  .linkAdmin i {
    margin-right: 1rem;
  }
  
  .menu-item__sub {
    background: var(--grey);
    overflow: hidden;
    transition: max-height 0.3s;
    max-height: 0;
  }
  .menu-item__sub a {
    display: block;
    padding: 1rem 1.6rem;
    color: white;
    font-size: 0.9rem;
    position: relative;
    border-bottom: 1px solid var(--light-grey);
  }
  .menu-item__sub a::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0.4rem;
    height: 100%;
    background: var(--blue);
    transform: translatex(-0.4rem);
    transition: 0.3s;
    opacity: 0;
  }
  .menu-item__sub a:hover::before {
    opacity: 1;
    transform: translatex(0);
  }
  
  .menu-item:target .menu-item__sub {
    max-height: 16em;
  }

.fixed-top{
  background-color: silver;
  outline: groove gray 1rem;
  border: none;
  
}



























  @media (max-width:800px) {
    #sidebar {
      margin-left: -250px;}
    #sidebar.active{
      margin-left: 0px;
    }
    #sidebarCollapse span{
      display: none;
    }
    .card {
      width:100%;
    }
  }
  @media (max-width:400px) {
    #sidebar {
      margin-top: -20px;
    }
    #logo {
      display: none;
    }
  }




