.cards-form{
  background-color:rgba(0, 0, 0, 0.368) ;
  margin: auto;
  margin-top: 10%;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 10%;
  border-radius: 5%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border:solid #F7A600 4px ;
}

.textInput{
  border-radius: 5%;
  padding-top: 0.3rem;
  padding-bottom: 0.1rem;
  padding-left: 1rem;
  width: 400px;
}
.textInputMessage{
  width: 400px;
  height: 6rem;
  padding-top: 0rem;
}  
.category{
  display: flex;
  
}


#root .App div .container-general div div .cards-form .card-bodysform form .form-group .textInputWrapper .category{
  width:21% !important;
 }
 
 
 .card-bodysform .textInputWrapper .category{
  min-height:27px;
  transform:translatex(185px) translatey(16px);
 }
 

 #root .App div .container-general div div .cards-form .card-bodysform form .category{
  width:18% !important;
 }
 

 .card-bodysform form .category{
  min-height:32px !important;
  transform:translatex(180px) translatey(16px) !important;
 }
 body{
  background-image: url("https://st.depositphotos.com/2097531/2145/i/600/depositphotos_21458013-stock-photo-vintage-theatre-spot-light-on.jpg");
  background-size:cover ;
  background-position: center;
 }

.cards-form .name h3{
  transform:translatex(0px) translatey(0px);
  color:#f7a600;
 }

 .cards-form > div > p{
  color:#f7a600;
 }
 

 .card-bodysform .textInputWrapper .category{
  color:#f7a600;
  font-size:17px;
  line-height:1.5em;
  font-weight:700;
 }
 

 .card-bodysform form .category{
  color:#f7a600;
  font-weight:700;
 }
 
 
 .App div .cards-form{
  background-color:rgba(0,0,0,0.69);
 }

 /* Button */
.card-bodysform div button{
  background-color:#020202;
  border-color:#f7a600;
  border-style:solid;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  width:134px;
  top:12px;
 }
 
 .cards-form .name h3{
  transform:translatex(0px) translatey(0px); color:#f7a600;
 }
 
 