/* From uiverse.io by @bhaveshxrawat */
.cards-form {
  border: solid 2px;
  margin: auto;
  background-image: url("https://res.cloudinary.com/dapicfoap/image/upload/v1664773993/BlockBuster%20Nuestro/fondoBlue_a3nqyo.jpg");
  padding-top: 4rem;
}

/* From uiverse.io by @david-mohseni */
.marcoForm {
  min-width: 300px;
  width: 35%;
  height: 50%;
  background-color: #090909af;
  text-align: center;
  border: 10px solid #f5a400;
  margin: auto;
  border-radius: 1.5rem;
  margin-top: 2%;
  margin-bottom: 2%;
  padding-bottom: 1rem;
}
.marcoForm:hover {
  box-shadow: inset 2px 2px 5px #f5a400, inset -2px -2px 5px #f5a400;
}


.picPerfil1 {
  border-radius: 50%;
  margin-top: 1rem;
}

.icon {
  width: 60px;
  height: 60px;
  color: red;
  font-size: 30px;
  background-color: #eee;
  margin: 20px auto;
  padding: 5px;
  border-radius: 50%;
  box-shadow: 8px 8px 10px #ddd, -8px -8px 10px #fff;
}

.content {
  color: #999;
  background-color: #eee;
  padding: 10px;
  margin: 5px 20px;
  border-radius: 8px;
  box-shadow: 8px 8px 10px #ddd, -8px -8px 10px #fff;
}

.content h3 {
  text-shadow: 2px 2px 0px #fff;
}
/*----------------*/
.textInput {
  color: #010101;
  border: 2px solid #f5a400;
  border-radius: 10px;
  background: bl;
  max-width: 190px;
  margin: 0;
  padding-left: 1rem;
}

.textInput:active {
  box-shadow: 2px 2px 15px #f5a400 inset;
}
.listMmemer{
  margin-left: -2.3rem;
}
/*--------------------------*/
.button-update-profile {
  color: #090909;
  padding: 0.2rem;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  margin: 0.2rem;
}

.button-update-profile:hover {
  border: 1px solid white;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
 outline: 2px solid #f5a400;
} 

.button-update-profile:active {
  box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
}
.category {
  font-size: medium;
  border-radius: 20%;
  color: rgb(255, 255, 255);
}
.nameUser{
  color: white;
}
.validate-field{
  color: rgb(254, 254, 254);
}
.danger{
  color: white
}