.container-profile-details{
  background: url('https://res.cloudinary.com/dapicfoap/image/upload/v1664773994/BlockBuster%20Nuestro/backFormPefil_f5iadx.webp');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  padding-top: 6rem;

}

.notDecaration{
  list-style:none;
}

.ProfileDangerRequerement{
  color: red;
  font-size: 20px;
}

.notDecaration li {
  text-align: left;
  color: black;
}

/* From uiverse.io by @david-mohseni */
.cardPerf {
    width: 20%;
    height: 45%;
    margin-top: 5%;
    background-image: url("https://res.cloudinary.com/dapicfoap/image/upload/v1664773993/BlockBuster%20Nuestro/backForms_uytobd.jpg");
    text-align: center;
    border: 10px groove #f7a600;
    border-radius: 20px;
    box-shadow: inset 5px 5px 10px #f7a600, inset -5px -5px 10px #f7a600;
    transition: 1s;
    margin: auto;
    padding-bottom: 1rem;
  }

  .imgPencil{
    padding-bottom: 1rem;
  }
  
  .imgPerf {
    width: 110px;
    height: 110px;
    font-size: 30px;
    background-color: #f7a600;
    margin: 20px auto;
    padding: 5px;
    border-radius: 50%;
    box-shadow: 8px 8px 10px#f7a600(45, 0, 246), -8px -8px 10px rgb(255, 255, 255);
  }
  
  .contentPef {
    color: #999;
    background-color: #eee;
    padding: 10px;
    margin: 5px 20px;
    border-radius: 8px;
    box-shadow: 8px 8px 10px #f7a600, -8px -8px 10px #f7a600;
  }
  

  
  .contentPef h3 {
    text-shadow: 2px 2px 0px #fff;
  }
  .picPerfil{
    width: 100px;
    border-radius: 50%;
  }