.contain-profile{
    background: url('https://wallpapercave.com/wp/wp3172270.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  margin-bottom: 20px;
}

.small-profile{
    background-color: rgba(0, 0, 0, 0.589);
border-style: solid;
border-top-left-radius: 1rem;
 border-top-right-radius: 1rem;
 border-bottom-left-radius: 1rem; 
border-bottom-right-radius: 1rem;
padding: 3rem;
padding-bottom: 1rem;
margin-top: 1rem;
border-color: #caad2be0;
/* border-style: solid;
border-top-left-radius: 25px;
 border-top-right-radius: 10px; 
 border-bottom-left-radius: 10px; 
border-bottom-right-radius: 35px; */
}

.name-profile, .nick-profile, .email-profile, .Birth-profile{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(202, 173, 43, 0.877);
}

.h4-complete-profile, .Birth-profile{
  color: red;
}

.card-profile{
    height: -8rem;
    width: 20rem;
  margin: 0px auto;
  /* background-color: #0c0f0249; */
  background-color: rgba(0, 0, 0, 0.459);
  border: solid rgba(0, 0, 0, 0.801);
}

.card-profile{
border-color: #52514fcc;
border-style: solid;
border-top-left-radius: 25px;
/* border-top-right-radius: 10px; */
/* border-bottom-left-radius: 10px; */
border-bottom-right-radius: 35px;
}

.img-profile{
    border-radius: 4rem;
}
.input-complete{
  width: 200px;
  margin-bottom: 10px;
}

.div-complete-profile{
  margin-bottom: 10px;
}

.completeProfile{
  width: 15rem;
}

.updateProfile{
  width: 11rem;
}