.button-prev, .button-next {
    font-weight: bold;
}

.button-prev, .button-next{
    width: 4rem;
    height: 1.7rem;
    background-color:#0166da8d;
    box-shadow: 0 5px 5px rgba(67, 65, 204, 0.663);
    color: white;
    border-top: 0;
    border-left: 0;
    padding: 6px;
    border-radius: 5px;
    position: relative;
    margin: 1rem;
    
}

.page-button{
    display: none;
    width: 3rem;
    height: 1.5rem;
    background-color:#036ae0;
    box-shadow: 0 5px 5px rgba(67, 65, 204, 0.663);
    color: white;
    border-top: 0;
    border-left: 0;
    border-radius: 5px;
    position: relative;
    margin: 0.2rem;
}
.ContainerPaginado {
    width: 100rem;
    height: 5rem;

}