.info-comment {
  background-color: black;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 2%;
  border: solid #f7a600 4px;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  padding: 1rem 1rem 1rem 1rem;
}
.comment {
  margin: 3% 0 0 3%;
  font-size: 20px;
  font-weight: bold;
  color: #f7a600;
  font-family: "Arial Narrow";
  padding-left: 1rem;
}
.fotitox {
  border-radius: 50%;
}

.nameUs {
  color: #f7a600;
  font-size: 1rem;
}
/*------------ BOTON DELET COMENT -------------- */
/* From uiverse.io by @hannahyockel */
/* From uiverse.io by @hannahyockel */
.botonD {
  border-radius: 15%;
  margin: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #0e0808;
  border: solid rgba(255, 0, 0, 0.498) 0.1px;
  justify-content: end;
}
.imgTacho {
  width: 1.5rem;
  height: 1.5rem;
}
.imgPencil {
  width: 2.5rem;
  height: 2.5rem;
}
/*---------------------- HASTA ACA DELET COMENT -------------*/
.textComent {
  float: right;
  display: flex;
  align-items: center;
  word-break: break-all;
  margin: 0 0 1em 1em;
}
.buttonsComents{
    display: flex;
    flex-direction: column;
}

.textInput{
  border-radius: 40%;
  border: solid #f7a600 5px;
  margin: 50px;
}

.icon-btn {
  width: 50px;
  height: 50px;
  border: 1px solid #cdcdcd;
  background: white;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  transition: width 0.2s ease-in-out;
  font-weight: 500;
  font-family: inherit;
}

.add-btn:hover {
  width: 120px;
}

.add-btn::before,
.add-btn::after {
  transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
  content: "";
  position: absolute;
  height: 4px;
  width: 10px;
  top: calc(50% - 2px);
  background: #DA9200;
}

.add-btn::after {
  right: 14px;
  overflow: hidden;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.add-btn::before {
  left: 14px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.icon-btn:focus {
  outline: none;
}

.btn-txt {
  opacity: 0;
  transition: opacity 0.2s;
}

.add-btn:hover::before,
.add-btn:hover::after {
  width: 4px;
  border-radius: 2px;
}

.add-btn:hover .btn-txt {
  opacity: 1;
}

.add-icon::after,
.add-icon::before {
  transition: all 0.2s ease-in-out;
  content: "";
  position: absolute;
  height: 20px;
  width: 2px;
  top: calc(50% - 10px);
  background: #DA9200;
  overflow: hidden;
}

.add-icon::before {
  left: 22px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.add-icon::after {
  right: 22px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.add-btn:hover .add-icon::before {
  left: 15px;
  height: 4px;
  top: calc(50% - 2px);
}

.add-btn:hover .add-icon::after {
  right: 15px;
  height: 4px;
  top: calc(50% - 2px);
}
