.info-comment {
  background-color: black;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 2%;
  border: solid #f7a600 4px;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  padding: 1rem 1rem 1rem 1rem;
}
.comment {
  margin: 3% 0 0 3%;
  font-size: 20px;
  font-weight: bold;
  color: #f7a600;
  font-family: "Arial Narrow";
  padding-left: 1rem;
}
.fotitox {
  border-radius: 50%;
}

.nameUs {
  color: #f7a600;
  font-size: 1rem;
}
/*------------ BOTON DELET COMENT -------------- */
/* From uiverse.io by @hannahyockel */
/* From uiverse.io by @hannahyockel */
.botonD {
  border-radius: 40%;
  margin: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #0e0808;
  border: solid #f7a600 0.2px;
  justify-content: end;
}

.imgTacho {
  width: 1.5rem;
  height: 1.5rem;
}
.imgPencil {
  width: 2.5rem;
  height: 2.5rem;
}
/*---------------------- HASTA ACA DELET COMENT -------------*/
.textComent {
  float: right;
  display: flex;
  align-items: center;
  word-break: break-all;
  margin: 0 0 1em 1em;
}
.buttonsComents{
    display: flex;
    flex-direction: column;
}
