.container-1{
  color :#F7A600;
  background-color: #000;
  border-top: 5px solid #F7A600;
  /* margin-left :30%;
  margin-right :30%;;
  margin-top :1%; */
  margin:10px auto;
  border-radius :5px;
  padding-top: 0%;
}


.group {
  position :relative;
  margin-left :30%;
margin-top :5%;
margin-bottom :3%;
 }
 
 .input {
  border :none;
  border-bottom: 1px solid #515151;
  background: #ebebeb;
  color: #F7A600;
  display: block;
  border-radius: 6px;
  width: 92%;
  font-size: 1.1em;
  box-shadow: 0 30px 60px 0 rgb(90 116 148 / 40%);
 }

 .input {
  color: #000;
  font-size: 16px;
  padding: 10px 10px 10px 5px;
 }
 
 .inputfocus {
  outline: none;
 }

 .containerinfo{
  display :block;
  align-items :center;
  margin:5px auto;
  margin-bottom: 1rem;
 }
 
 .textNComent{
  margin: 1rem 0rem 1rem 3rem;
 }
 .imgPefil{
  border-radius: 50%;
  margin-left :1rem;
  margin-top: 0;
 }
 .textlimit{
  margin-top: 3%;
  margin-left: 8%;
  font-size: 20px;
 }
 .textAditional{
  color: #ebebeb;
 }