.cardSection {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 100vh;
    border-radius: 30px;
    background: #212121;
    box-shadow: 15px 15px 30px rgb(25, 25, 25),
                -15px -15px 30px rgb(60, 60, 60);
    margin: 0 auto;
}
